<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LogInController</servlet-name>
        <servlet-class>controller.LogInController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordController</servlet-name>
        <servlet-class>controller.ChangePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeAvatarController</servlet-name>
        <servlet-class>controller.ChangeAvatarController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SettingController</servlet-name>
        <servlet-class>controller.SettingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordController</servlet-name>
        <servlet-class>controller.ForgotPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChatController</servlet-name>
        <servlet-class>controller.ChatController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LikeController</servlet-name>
        <servlet-class>controller.LikeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IgnoreController</servlet-name>
        <servlet-class>controller.IgnoreController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutController</servlet-name>
        <servlet-class>controller.LogOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChooseController</servlet-name>
        <servlet-class>controller.ChooseController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogInController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordController</servlet-name>
        <url-pattern>/changepassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeAvatarController</servlet-name>
        <url-pattern>/changeavatar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SettingController</servlet-name>
        <url-pattern>/setting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordController</servlet-name>
        <url-pattern>/forgotpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChatController</servlet-name>
        <url-pattern>/chat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LikeController</servlet-name>
        <url-pattern>/like</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IgnoreController</servlet-name>
        <url-pattern>/ignore</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChooseController</servlet-name>
        <url-pattern>/choose</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
